#DJANGO
Django==3.2.12
djangorestframework
django-cors-headers
django-extensions
psycopg2==2.8.3
gunicorn==19.9.0

#MODELO
nltk==3.9.1
numpy==2.0.2
tensorflow==2.18.0
google-generativeai==0.8.3
openai==1.55.3

python-dotenv
mysqlclient



